.App {
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 175px;
  margin: 40px;
  /* margin-top: 110px; */
}
  
.div1 { grid-area: 1 / 1 / 2 / 2;  overflow:visible}
.div2 { grid-area: 2 / 1 / 2 / 2;}
.div3 { grid-area: 1 / 2 / 3 / 3; 

   height: 530px;
   overflow: auto;
   position: relative;
}

.background-blue {
 
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  font-size: 10px;
}

  