body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-blue {
  background-color: rgb(51, 225, 176);
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  font-size: 10px;
}

.div3 {
  height: 530px;
   overflow: auto;
   position: relative;
}
